---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import { rootRelPath } from '../js/rootRelPath';
---

<Layout title="TOP">
	<main>
		<h1>モンストDBへようこそ</h1>
		<p class="instructions">
			各キャラクターのSSの仕様、倍率など、独自に調べたものをまとめています。
		</p>
		<div>
			<p><a href={rootRelPath('/monster/')}>データ一覧</a></p>
		</div>
		<div>
			<p>公式サイト一覧</p>
			<ul role="list" class="link-card-grid">
				<LinkCard href="https://www.monster-strike.com" title="モンスト公式サイト"/>
				<LinkCard href="https://www.youtube.com/@monsterstrike" title="モンスト公式YouTubeチャンネル"/>
				<LinkCard href="https://x.com/monst_mixi" title="モンスト公式X(Twitter)"/>
				<LinkCard href="https://dic.xflag.com/monsterstrike/" title="MONST DICTIONARY"/>
			</ul>
		</div>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.instructions {
		margin-block: 2rem;
		padding: 1.5rem;
		border-radius: 8px;
		background-color: #D0E8F8;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(max(40%, 32ch), 1fr));
		gap: 2rem;
		padding: 0;
		margin-block: 1em;
	}
</style>
