---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import { rootRelPath } from '../js/rootRelPath';
---

<Layout title="TOP">
	<main>
		<h1>モンストDBへようこそ</h1>
		<p class="instructions">各キャラクターのSSの仕様、倍率など、独自に調べたものをまとめています。</p>
		<nav class="site-navigation">
			<div><a href={rootRelPath('/monster/')}>データ一覧</a></div>
		</nav>
		<div class="official-websites">
			<div>公式サイト</div>
			<ul class="link-card-grid">
				<LinkCard href="https://www.monster-strike.com" title="モンスト公式サイト"/>
				<LinkCard href="https://www.youtube.com/@monsterstrike" title="モンスト公式YouTubeチャンネル"/>
				<LinkCard href="https://x.com/monst_mixi" title="モンスト公式X(Twitter)"/>
				<LinkCard href="https://dic.xflag.com/monsterstrike/" title="MONST DICTIONARY"/>
			</ul>
		</div>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3.5em;
		font-weight: bold;
		line-height: 1.0;
		text-align: center;
		margin-block: 0.8em;
	}
	.instructions {
		margin-block: 2em;
		padding: 1.5em;
		border-radius: 8px;
		background-color: #D0E8F8;
	}
	.site-navigation {
		margin-block: 1em;
	}
	.site-navigation > div {
		border-radius: 6px;
		border: 1px solid #111;
	}
	.site-navigation a{
		display: block;
		color: #202020;
		font-weight: bold;
		text-decoration: none;
		padding-inline: 0.8em;
		padding-block: 0.6em;
		border-radius: inherit;
		font-size: 1.05em;
	}
	.official-websites {
		padding-inline: 1px;
		font-size: 0.95em;
	}
	.official-websites > div {
		margin-block: 0.3em;
		font-weight: bold;
		padding-inline: 0.4em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(max(40%, min(32ch, 100%)), 1fr));
		gap: 1em 1.6em;
		padding: 0;
		margin-block: 1em;
	}
    @media (hover: hover) {
        .site-navigation a:hover{
			background-color: #F2F2F2;
        }
	}
</style>
