---
interface Props {
	name: string;
	number: number;
}

const { name, number } = Astro.props;

import { rootRelPath } from '../js/rootRelPath';
---

<li class="data-card" data-id={number}>
	<a href={rootRelPath(`/monster/${number}/`)}>
		<div>
			<div class="monster-number">No.{number}</div>
			<div class="monster-name">{name}</div>
		</div>
	</a>
</li>

<style>
	.data-card{
		display: flex;
		padding: 1px;
		font-size: 1em;
		border-top: 1px solid #0004;
	}
	.is-hidden{
		display: none;
	}
	.data-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding-inline: 1.2em;
		padding-block: 0.6em;
		border-radius: 8px;
		color: #000;
	}
	.monster-number{
		font-size: 0.85em;
	}
	.monster-name{
		font-weight: bold;
	}
	@media (hover: hover) {
		.data-card:hover{
			background-color: #F2F2F2;
		}
	}
</style>
