---

---

<footer>
    <div>
        <p>“モンスターストライク”、“モンスト”は、株式会社MIXIの商標または登録商標です。</p>
        <small style="float: right;">env : { import.meta.env.MODE }</small>
    </div>
</footer>

<style>
    footer > div{
        padding-inline: 2em;
        padding-block: 0.75em;
        border-top: 1px solid #888;
    }
</style>