---

---

<footer>
    <div class="credit">Created by <a href="https://x.com/ATLAS_XD">POTETO</a></div>
    <div class="environment">env - { import.meta.env.MODE }</div>
</footer>

<style>
    footer{
        background-color: #263240;
        color: #FFF;
        font-family: Arial;
        padding-block: 0.8em;
        position: relative;
    }
    .credit{
        font-weight: bold;
        text-align: center;
    }
    .credit a:any-link{
        /* twitter color code  */
        color: #1DA1F2;
    }
    .environment{
        font-size: 0.65em;
        position: absolute;
        right: 2em;
        bottom: 1px;
    }
</style>