---
import { rootRelPath } from "../js/rootRelPath";
---

<header>
    <div class="container">
        <a href={rootRelPath('/')} class="site-title">モンストDB</a>
        <nav class="fnavi">
            <ul>
                <li><a href="https://www.monster-strike.com">公式サイト</a></li>
                <li><a href="https://www.youtube.com/@monsterstrike">公式YouTubeチャンネル</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header{
        padding-inline: 2em;
        padding-block: 1.25em;
        background-color: #F2F7FD;
        border-bottom: 2px solid #D2D9DD;
    }
    .container{
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .site-title{
        padding-inline: 0.25em;
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        color: #111;
    }
    .fnavi ul,
    .fnavi ul li{
        display: contents;
    }
	@media (max-width:767.98px) {
        .container{
            font-size: 1.15em;
        }
		.fnavi{
            display: none;
        }
	}
</style>