---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<p>{title}</p>
	</a>
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0;
		background-color: #23262D;
		border-radius: 7px;
	}
	a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding-block: 1.35em;
		padding-inline:  1.2em;
		border-radius: 8px;
		color: #FFFD;
	}
	p {
		display: flex;
		justify-content: space-between;
		margin: 0;
		font-size: 1em;
		font-weight: bold;
	}
	p::after {
		content: "→";
	}
	
	@media (hover: hover) {
		.link-card:hover {
			background-color: #23262DE5;
		}
	}
</style>
