---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { rootRelPath } from '../js/rootRelPath';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href={rootRelPath('/icon/favicon.ico')} />
		<title>{`${title} | モンストDB`}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global define:vars={{ gageshotIconPath: `url(${rootRelPath('/img/gageshot/gageshot_icon.png')})` }} />
<style is:global>
	:root{
	}
	html{
		/* font-family: system-ui, sans-serif; */
		font-family: "Roboto" ,"Arial", sans-serif;
		font-size: 16px;
	}
	body{
		margin: 0;
		padding: 0;
		background-color: #F9F9F9;
		color: #000;
		line-height: 1.6;
	}
	main{
		margin: auto;
		padding-inline: 1rem;
		padding-block: 1rem 2rem;
		width: 860px;
		max-width: 100%;
		box-sizing: border-box;
	}
	@media (min-width:768px) {
		html{
			font-size: 18px;
		}
	}
</style>
